{{{ head }}}

<article>

<section>
<h4>Collections</h4>
<ul>{{# collections }}
  <li><a href="{{ href }}" title="{{ title }}">{{ title }}</a></li>
{{/ collections}}</ul>
</section>
</article>

<nav>
Up to <a href="../">api.npolar.no</a>
</nav>

{{{ foot }}}