config.rb
coverage
*.lock
*.log
.rspec
*~
rackup
tmp
.yardoc
.bundle
doc
documentation
Gemfile*.lock
log
example/*.txt
*.txt
.save
exports.sh
/.project
.tags*
bin/argos-ascii
bin/argos-soap
bin/bundler
bin/gcmd_concepts_to_json
bin/gcmd_dif_validate
bin/gcmd_fetch_concepts
bin/gcmd_fetch_dif_xsd
bin/git-version-bump
bin/htmldiff
bin/ldiff
bin/mustache
bin/nokogiri
bin/npolar-api
bin/oai
bin/rspec
bin/ruby-prof
bin/ruby-prof-check-trace
bin/shotgun
bin/thin
bin/unicorn
bin/unicorn_rails
seed*
migration*
search*
