<article>

<section id="search">
<form class="form-search"><input type="search" autocomplete="autocomplete" id="search_input" name="q" value="" placeholder="{{title}}"
class="yui3-aclist-input input-medium" /><input type="submit" class="btn" value="Search"/>
</form>
</section>

<!--
<nav>
{{# sets }}
  <code><a href="{{ href }}" title="{{ title }}">{{ href }}</a></code>
{{/ sets}}
</nav>
-->


<section id="summary">{{summary}}

<abbr title="List identifiers">List</abbr>: <code><a href="{{href}}/.{{format}}?limit=10" title="{{title}} (ids)">{{href}}/.{{format}}</a></code>

<abbr title="Outgoing formats for GET requests">Formats</abbr>:
{{# formats }}<code><a href="{{example_id}}.{{format}}" title="Example {{format}} document">{{ format }}</a></code>
{{/ formats }}

<abbr title="Accepts these incxoming formats on POST or PUT requests">Accepts</abbr>:
{{# accepts }}
  <code>{{ accept }}</code> <code><a href="{{schema}}">{{schema_title}}</a></code>
{{/ accepts }}

<abbr title="HTTP methods">Methods</abbr>:
{{# verbs }}
  <code>{{ verb }}</code>
{{/ verbs }}


</section>
</article>