{{#forms}}
<form id="{{id}}-form" action="{{href}}" method="get" class="yui3-skin-sam form-search">

  <input id="what" name="q" value="{{q}}" type="search" placeholder="{{placeholder}}" class="yui3-aclist-input" />
   
  <input id="where" name="where" value="{{where}}" type="search" placeholder="90 180 -90 -180" class="yui3-aclist-input" />
  
  <input id="when" name="when" value="{{nesw}}" type="search" placeholder="1999-01-01 2099-31-12" class="yui3-aclist-input" />

  <input type="submit" class="btn" value="Search" />

  <!-- <label for="{{id}}-what">{{label}} </label><label for="{{id}}-where">{{label}} </label><label for="{{id}}-where">{{label-where}} </label> -->

</form>
{{/forms}}