{{{ head }}}

<nav>
{{# collections }}
  <code><a href="#{{title}}" title="{{ title }}">{{ href }}</a></code>
{{/ collections }}
</nav>

<article>
W.m
{{# collections }}
{{< _collection }}
{{/ collections }}
</article>

{{{ foot }}}