{{{ head }}}
<article>

{{# sections }}
{{{ section }}}
{{/ sections }}

<section id="workspaces">
<h3><a href="/workspaces.json">Workspaces</a></h3>

<nav>
{{# workspaces }}
  <code><a href="{{ href }}" title="{{ title }}">{{ href }}</a></code>
{{/ workspaces}}
</nav>

</section>

</article>
{{{ foot }}}