<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
   <ShortName>Norwegian Polar Data</ShortName>
   <Description>Polar data from the Norwegian Polar Institute</Description>
   <Tags>polar arctic antarctic</Tags>
   <Contact>data@npolar.no</Contact>
   <Url type="application/atom+xml" template="http://api.npolar.no/?q={searchTerms}&amp;pw={startPage?}&amp;format=atom"/>
   <Url type="application/json" template="http://api.npolar.no/?q={searchTerms}&amp;pw={startPage?}&amp;format=json"/>
   <Url type="text/html" template="http://data.npolar.no/?q={searchTerms}&amp;pw={startPage?}"/>
   <LongName></LongName>

   <Image height="64" width="64" type="image/png">http://example.com/websearch.png</Image>

   <Query role="example" searchTerms="cat" />

   <Developer>data@npolar.no</Developer>

   <Attribution>
Norwegian Polar Data API http://api.npolar.no
   </Attribution>
   <SyndicationRight>open</SyndicationRight>
   <AdultContent>false</AdultContent>
   <Language>en</Language>
   <OutputEncoding>UTF-8</OutputEncoding>
   <InputEncoding>UTF-8</InputEncoding>
 </OpenSearchDescription>
