{{{ head }}}

<article>
<section>{{summary}} workspace on <a href="../">api.npolar.no</a></section>

{{# collections }}
<hr/>
<section>
<h3>{{title}}: <a href="{{href}}">{{href}}</a></h3>

{{summary}}
</section>

<section>
<h4>List API</h4>
<ul>
{{# list_formats }}
<li><a href="{{href}}/.{{format}}">{{ title }}</a>
{{/ list_formats }}
</ul>
</section>

<section>
<h4>Document API</h4>
<dl>
<dt>Formats (GET, HEAD, DELETE)</dt>
<dd>{{# formats }}
  <a href="{{example_href}}/.{{format}}">{{ format }}</a>
{{/ formats }}
</dd>
<dt>Accepts (POST, PUT)</dt>
<dd>{{# accepts }}
  {{ accept }} (<a href="">{{schema_uri}}</a>)
{{/ accepts }}
</dd>
<dt>Schema</dt>
<dd><a href="{{schema_uri}}">{{schema_uri}}</a><dd>
<dt>Example</dt>
<dd><a href="{{document_example}}">{{document_example}}</a><dd>
</dl>
</section>

<section>
<h4>Search API</h4>
</section>
{{/ collections}}


<hr/>
{{# oai }}
<section>
<h3>OAI-PMH repository</h3>

<p>{{ summary }}</p>
<h4>verbs</h4>

<ol>
{{# verbs }}
<li><a href="/metadata/oai?verb={{verb}}{{example}}">{{verb}}{{example}}</a></li>
{{/verbs}}
</ol>

<h4>Documentation</h4>
<a href="http://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH 2.0 documentation</a>
</section>
{{/oai}}

</article>
<hr/>

<nav>

</nav>

{{{ foot }}}