{{{head}}}
<!--
<header>
{{ summary}}
</header>
-->
<article>
<section id="autocomplete">
<h3>GCMD Concepts autocomplete</h3>
<p>Autocomplete search in GCMD Keywords (stored in <a href="">Apache Solr</a>) using the <a href="http://yuilibrary.com/">YUI</a> JavaScript library.</p>

<form id="ac-form" action="/stadnamn" method="get" class="yui3-skin-sam">
{{# collections }}
   
<span id="{{collection}}-demo" class="yui3-skin-sam">
  <!--<label for="{{collection}}-autocomplete"><a href="{{ href }}"> {{ title }}</a></label>-->
  <input id="{{collection}}-autocomplete" type="search" incremental results="{{limit}}" placeholder="{{collection}}" />
</span>
{{/ collections }}
</form>

</section>
</article>

<footer>
{{{credits_html}}}
</footer>

{{< _yui_loader }}
<script>
{{# collections }}


  YUI().use('autocomplete', 'autocomplete-highlighters', function (Y) {
    Y.one('#{{concept}}-autocomplete').plug(Y.Plugin.AutoComplete, {
      resultHighlighter: 'phraseMatch',
      resultListLocator: 'feed.entries',
      resultTextLocator: function(result) {
        // Y.log(result);
        return result.title;
      },
      source: '/gcmd/concept?filter-concept={{collection}}&q={query}&callback={callback}&fields=title&format=json'
    });
  });

{{/ collections }}
</script>

{{{foot}}}