<header>
  <h1>{{title}}</h1>
</header>

<section>
  <h2>Demo</h2>
  <div id="demo" class="yui3-skin-sam">
    <label for="ac-input">{{scheme}} search:</label><br>
    <input id="ac-input" type="text">
  </div>
  <script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>
  <script>
  YUI().use('autocomplete', 'autocomplete-highlighters', function (Y) {
    Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
      resultHighlighter: 'phraseMatch',
      resultTextLocator: function(result) {
        Y.log(result);
        return result[1];
      },
      source: '/gcmd/{{scheme}}?q={query}&callback={callback}'
    });
  });
  </script>
</section>

<article>
<h2>Documentation</h2>

<h3>Request</h3>
<pre>{{{request}}}</pre>
<h3>Response</h3>
<pre>
{{response}}
</pre>

<h3>Endpoints</h3>
  {{# schemes}}
    <li><a href="{{ path }}"> {{ scheme }}</a></li>
  {{/ schemes}}

</article>
<footer>
{{{credits_html}}}
</footer>